h1, h2, h3, h4, h5, h6 {
  font-family: "Nespresso Lucas";
  font-weight: 700;
  color: black;
  margin-top: 0;
  line-height: 1.2em;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18.72px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13.28px;
}

h6 {
  font-size: 10.72px;
}

a, p, button, label, input {
  font-family: "Nespresso Lucas";
  font-weight: normal;
  font-size: 17px;
  line-height: 1.2em;
}

p {
  margin-bottom: 12px;
}

.titulos {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin: 24px 0 32px;
}
.titulos.mix {
  color: #475460;
}
.titulos.mix span {
  font-weight: normal;
}

.header {
  background-color: black;
}
.header nav {
  width: auto;
  max-width: 100vw;
  padding: 8px 16px;
  position: relative;
}
.header nav .topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav .topnav a.logo {
  padding: 0;
}
.header nav .topnav a.logo img {
  max-width: 120px;
  height: auto;
}
.header nav .topnav .icon {
  z-index: 10;
}
.header nav .topnav .icon img {
  width: 24px;
}
.header nav .topnav .icon:focus {
  outline: 1px solid white;
}
.header nav .topnav #menulinks {
  width: 0;
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: width 0.5s;
}
.header nav .topnav #menulinks a {
  color: white;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px;
  text-align: left;
  transition: 0.3s;
}
.header nav .topnav #menulinks a:hover, .header nav .topnav #menulinks a.active {
  background-color: white;
  color: black;
}

@media screen and (min-width: 1024px) {
  .header nav {
    max-width: 1140px;
    margin: 0 auto;
  }
  .header nav .topnav #menulinks {
    width: 500px;
    position: relative;
    padding-top: 0;
    background-color: inherit;
    height: auto;
    display: flex;
    align-items: center;
    top: 0;
    justify-content: flex-end;
  }
  .header nav .topnav #menulinks a {
    color: white;
  }
  .header nav .topnav #menulinks a:hover, .header nav .topnav #menulinks a.active {
    color: black;
  }
  .header nav .topnav #menulinks a.closebtn {
    display: none;
  }
  .header nav .topnav .icon {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input[type=button],
input[type=submit] {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
button.modal,
input[type=button].modal,
input[type=submit].modal {
  min-width: 182px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  padding: 0;
}
button.modal span,
input[type=button].modal span,
input[type=submit].modal span {
  min-width: 24%;
  border-bottom: 1px solid black;
  margin-right: 6px;
  margin-bottom: 2px;
  height: 100%;
}
button.modal img,
input[type=button].modal img,
input[type=submit].modal img {
  margin-left: 6px;
}
button.btn,
input[type=button].btn,
input[type=submit].btn {
  border: 1px solid #475460;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background-color: #F1ECE6;
  font-size: 20px;
  padding: 8px 28px;
}
button.btn:hover,
input[type=button].btn:hover,
input[type=submit].btn:hover {
  background-color: #000;
  color: white;
}
button.open-dialog,
input[type=button].open-dialog,
input[type=submit].open-dialog {
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 32px;
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  margin: 8px 0;
}
button.open-dialog.down,
input[type=button].open-dialog.down,
input[type=submit].open-dialog.down {
  background-image: url("https://www.nespresso.com/ecom/medias/sys_master/public/13569795358750/icon-download.svg?");
}
button.open-dialog.speak,
input[type=button].open-dialog.speak,
input[type=submit].open-dialog.speak {
  background-image: url("https://www.nespresso.com/ecom/medias/sys_master/public/13569795653662/icon-speaker.svg?");
}
button.open-dialog:hover,
input[type=button].open-dialog:hover,
input[type=submit].open-dialog:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

form {
  padding: 32px 16px 64px;
}
form .campo {
  display: flex;
  flex-direction: column;
}
form .campo label {
  color: #000;
  margin-bottom: 4px;
  font-size: 16px;
}
form .campo input,
form .campo textarea {
  border-color: transparent transparent #000 transparent;
  background-color: transparent;
  margin-bottom: 24px;
}
form button {
  float: right;
}

.video {
  background-image: url("https://www.nespresso.com/ecom/medias/sys_master/public/13569797947422/banner-hero.jpg?");
  background-position: top;
  background-size: 375%;
  background-repeat: no-repeat;
  height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.video h1 {
  width: 94px;
  background-color: #000;
  color: #fff;
  padding: 14px 9px 12px 14px;
  margin: 0;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.015em;
  font-size: 19px;
}
.video .box-text {
  background-color: white;
}
.video .box-text .content {
  padding: 26px 21px;
}
.video .box-text .content p {
  margin: 0 0 4px 0;
  color: black;
  font-size: 16px;
  margin-bottom: 12px;
}
.video .box-text .content button {
  margin-top: 12px;
}

#ocw-container {
  background-color: #EDEDED;
  position: relative;
  font-size: 16px;
  /* CARRUSEL SPEAKERS */
}
#ocw-container #overlay {
  width: 100vw;
  height: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  z-index: 5;
  backdrop-filter: blur(8px);
  display: none;
}
#ocw-container .lienzo {
  background-color: white;
  margin: 0 1rem;
  padding-top: 8px;
}
#ocw-container .ocw {
  display: flex;
  flex-direction: column;
}
#ocw-container .ocw .background {
  height: 230px;
  width: 100%;
  background: #ffffff url("https://www.nespresso.com/ecom/medias/sys_master/public/13569798012958/banner-encuentros.jpg?") no-repeat center center;
  background-size: cover;
}
#ocw-container .ocw .text {
  background-color: #BF9A5D;
  display: flex;
  align-items: center;
}
#ocw-container .ocw .text .content {
  padding: 26px 14px;
}
#ocw-container .ocw .text .content h3 {
  color: #000;
  margin-top: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 16px;
  padding-bottom: 0;
}
#ocw-container .ocw .text .content p {
  color: #FFF;
}
#ocw-container .ocw .text .content p strong,
#ocw-container .ocw .text .content p b {
  font-weight: 600;
}
#ocw-container .oradores {
  max-width: 100vw;
  width: 100%;
  margin: auto;
}
#ocw-container .oradores .owl-item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}
#ocw-container .oradores .owl-item .item {
  opacity: 0.4;
  transition: 0.4s ease all;
  margin: 0 20px;
  transform: scale(0.8);
}
#ocw-container .oradores .owl-item .item .pic {
  position: relative;
}
#ocw-container .oradores .owl-item .item .inner {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 0.5rem;
  color: #fff;
}
#ocw-container .oradores .owl-item .item .inner h3 {
  font-weight: 600;
  margin: 0;
  font-size: 32px;
  padding-bottom: 0;
  color: #fff;
}
#ocw-container .oradores .owl-item .item .inner button {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.3s ease border-color;
  font-weight: 600;
}
#ocw-container .oradores .owl-item .item .inner button span.line {
  border-bottom: 2px solid white;
  display: inline-flex;
  width: 56px;
  margin-right: 8px;
  margin-top: 2px;
}
#ocw-container .oradores .owl-item .item .inner button:hover {
  border-color: #fff;
}
#ocw-container .oradores .owl-item.active {
  z-index: 10;
}
#ocw-container .oradores .owl-item.active .item {
  opacity: 1;
  transform: scale(1);
}
#ocw-container .oradores .owl-controls .owl-dots .owl-dot.active span {
  background-color: #BF9A5D;
}
#ocw-container .oradores .orador-text {
  transition: all 250ms linear;
  padding: 0 1rem;
  color: #000;
  padding-bottom: 24px;
}
#ocw-container .oradores .orador-text h2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
}
#ocw-container #encuentros {
  background-color: #F6F6F6;
  padding-top: 16px;
  /* Style the tab */
}
#ocw-container #encuentros .tab {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
#ocw-container #encuentros .tab button {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 6px 8px;
  margin-bottom: 8px;
  transition: 0.3s;
  text-transform: uppercase;
  color: #475460;
  font-size: 16px;
}
#ocw-container #encuentros .tab button:hover {
  background-color: #ddd;
}
#ocw-container #encuentros .tab button.active {
  border-bottom-color: #475460;
  color: #000;
}
#ocw-container #encuentros .tabcontent {
  display: none;
  animation: fadeEffect 1s;
}
#ocw-container #encuentros .tabcontent .grid .item-grid {
  display: flex;
  flex-direction: column;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .iframe,
#ocw-container #encuentros .tabcontent .grid .item-grid .picture {
  height: 328px;
  width: 100%;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text {
  background-color: #BF9A5D;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content {
  padding: 24px 16px;
  position: relative;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo img {
  margin-right: 16px;
  min-width: 40px;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo h3.quote {
  text-transform: inherit;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content p {
  color: #FFF;
  margin-top: 0;
  margin-bottom: 16px;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content.cita::after {
  display: block;
  position: absolute;
  width: 48px;
  height: 32px;
  top: -30px;
  content: "";
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 40px solid #BF9A5D;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .picture {
  position: relative;
  overflow: hidden;
}
#ocw-container #encuentros .tabcontent .grid .item-grid .picture img {
  position: absolute;
  left: 50%;
  margin: auto;
  top: 50%;
  transform: translatey(-50%) translateX(-50%) scale(1.1);
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#ocw-container #invitados #owl-inv .item {
  padding: 16px;
}
#ocw-container #invitados #owl-inv .item .logo {
  width: 56px;
}
#ocw-container #invitados #owl-inv .item h3 {
  color: #FFF;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1em;
}
#ocw-container #invitados #owl-inv .item .autor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 20px;
}
#ocw-container #invitados #owl-inv .item .autor .img {
  width: 55px;
  height: 55px;
  margin-right: 14px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
#ocw-container #invitados #owl-inv .item .autor .name h4 {
  font-weight: 600;
  font-size: 12px;
  margin: 0;
}
#ocw-container #invitados #owl-inv .item .autor .name p {
  margin: 0;
  font-size: 12px;
}
#ocw-container #invitados #owl-inv .owl-item:nth-child(even) {
  background-color: #BF9A5D;
}
#ocw-container #invitados #owl-inv .owl-item:nth-child(odd) .item h3 {
  color: #000;
}
#ocw-container #invitados #owl-inv .owl-nav {
  text-align: right;
}
#ocw-container #invitados #owl-inv .owl-nav div {
  background-color: white;
  border: none;
  outline-color: #fff;
  border-radius: 0;
  padding: 6px 12px;
  margin: 0;
}
#ocw-container #contact {
  background-color: #000;
}
#ocw-container #contact .titulos {
  color: #fff;
  margin-top: 0;
  padding-top: 32px;
}
#ocw-container #contact .form {
  background-color: #F1ECE6;
}
#ocw-container #contact .form .background {
  height: 243px;
  width: 100%;
  background: #000 url("https://www.nespresso.com/ecom/medias/sys_master/public/13569800470558/banner-contacto.jpg?") no-repeat center center;
  background-size: cover;
}
#ocw-container #contact .form h4 {
  font-weight: 600;
  padding: 16px 0;
}

.dialog-form#dialog-steps {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #fff;
  text-align: right;
}
.dialog-form#dialog-steps h4, .dialog-form#dialog-steps p {
  margin: 0;
}
.dialog-form#dialog-steps h4.aviso, .dialog-form#dialog-steps p.aviso {
  text-align: left;
}
.dialog-form#dialog-steps form {
  margin-top: 8px;
  background-color: white;
  padding: 16px 16px 40px;
  margin-top: 0;
  width: 100%;
}
.dialog-form#dialog-steps form fieldset {
  border: 0 none;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}
.dialog-form#dialog-steps form fieldset img {
  margin: 24px 0;
}
.dialog-form#dialog-steps form fieldset:not(:first-of-type) {
  display: none;
}
.dialog-form#dialog-steps form fieldset label {
  text-align: left;
}
.dialog-form#dialog-steps form fieldset input[type=button], .dialog-form#dialog-steps form fieldset button {
  margin-top: 24px;
  float: none;
}
.dialog-form#dialog-steps .btn {
  display: inline-block;
  background-color: #000;
  border-color: transparent;
  text-transform: initial;
  font-weight: normal;
  color: white;
  margin: 8px 4px;
}
.dialog-form#dialog-steps .btn.line {
  background-color: white;
  border-color: #000;
  color: #000;
}

@media (max-width: 1000px) {
  #ocw-container .oradores .item {
    margin: 0;
    transform: scale(0.9);
  }
}
@media (min-width: 660px) {
  #ocw-container .oradores {
    width: 70vw;
  }
}
@media (min-width: 768px) {
  .video {
    background-size: 200%;
  }

  #ocw-container .titulos {
    font-size: 32px;
    line-height: 120%;
  }
  #ocw-container #encuentros .tab {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid {
    flex-direction: row;
    height: 320px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .picture,
#ocw-container #encuentros .tabcontent .grid .item-grid .iframe,
#ocw-container #encuentros .tabcontent .grid .item-grid .text {
    height: 100%;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .picture,
#ocw-container #encuentros .tabcontent .grid .item-grid .text,
#ocw-container #encuentros .tabcontent .grid .item-grid .iframe {
    width: 50%;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content.cita::after {
    right: -32px;
    transform: rotate(90deg) translateY(-40%);
    top: 40%;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid:nth-child(even) {
    flex-direction: row-reverse;
  }

  .ui-dialog .ui-dialog-titlebar {
    height: 156px;
  }
}
@media (min-width: 1024px) {
  .video {
    height: 620px;
    background-size: cover;
    position: relative;
  }
  .video .absolute {
    position: absolute;
    width: 480px;
    top: 50%;
    transform: translateY(-50%);
    right: 96px;
    display: flex;
    align-items: flex-start;
  }

  #ocw-container .oradores {
    width: 685px;
  }
  #ocw-container .ocw {
    flex-direction: row;
    height: 320px;
  }
  #ocw-container .ocw .background,
#ocw-container .ocw .text {
    width: 50%;
    height: 100%;
  }
  #ocw-container #contact .form {
    display: flex;
    height: 640px;
  }
  #ocw-container #contact .form .background,
#ocw-container #contact .form .formulario {
    width: 50%;
  }
  #ocw-container #contact .form .background {
    height: 100%;
  }
  #ocw-container #contact .form .formulario {
    display: flex;
    align-items: center;
  }
  #ocw-container #contact .form .formulario form {
    width: 100%;
    padding: 0 40px;
  }

  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content, #ocw-container .ocw .text .content {
    padding: 24px 32px;
  }

  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo {
    max-width: 65%;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo img {
    width: 56px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo h3 {
    line-height: 1em;
  }
}
@media (min-width: 1200px) {
  .video .absolute {
    width: 672px;
  }
  .video .absolute h1 {
    font-size: 32px;
    line-height: 24px;
    width: 183px;
  }
  .video .absolute .box-text {
    width: 482px;
  }
  .video .absolute .box-text .content p {
    font-size: 22px;
    line-height: 26px;
  }

  #ocw-container .titulos {
    font-size: 42px;
    padding: 24px;
  }
  #ocw-container #overlay {
    display: none;
  }
  #ocw-container .lienzo {
    max-width: 1178px;
    margin: 0 auto;
  }
  #ocw-container .ocw {
    height: 436px;
  }
  #ocw-container .ocw .text .content {
    padding: 36px;
  }
  #ocw-container .ocw .text .content h3 {
    font-size: 32px;
  }
  #ocw-container .ocw .text .content p {
    font-size: 21px;
    line-height: 24px;
  }
  #ocw-container .oradores .orador-text {
    margin-bottom: 88px;
    margin-top: 40px;
  }
  #ocw-container .oradores .orador-text h2 {
    font-size: 30px;
  }
  #ocw-container .oradores .orador-text p {
    font-size: 20;
    text-align: center;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid {
    height: 427px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content {
    padding: 48px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo {
    align-items: center;
    margin-bottom: 24px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content .titulo h3 {
    font-size: 36px;
    font-weight: 700;
    width: 70%;
    margin: 0;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content p,
#ocw-container #encuentros .tabcontent .grid .item-grid .text .content button {
    font-size: 20px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content.cita {
    padding: 32px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content.cita .titulo {
    align-items: flex-start;
    margin-bottom: 36px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content.cita .titulo h3.quote {
    font-weight: 600;
    line-height: 32px;
    font-size: 32px;
  }
  #ocw-container #encuentros .tabcontent .grid .item-grid .text .content.cita button {
    display: block;
    font-size: 18px;
    margin-bottom: 24px;
  }
  #ocw-container #invitados #owl-inv .item {
    padding: 32px 80px 72px 56px;
  }
  #ocw-container #invitados #owl-inv .item .logo {
    width: 96px;
  }
  #ocw-container #invitados #owl-inv .item h3 {
    font-size: 32px;
    line-height: 97%;
    font-weight: 600;
  }
  #ocw-container #invitados #owl-inv .item .autor .img {
    width: 120px;
    height: 120px;
    margin-right: 24px;
  }
  #ocw-container #invitados #owl-inv .item .autor .name h4 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  #ocw-container #invitados #owl-inv .item .autor .name p {
    max-width: 280px;
    font-size: 20px;
    line-height: 24px;
  }
  #ocw-container #invitados #owl-inv .owl-controls {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #ocw-container #contact .form .formulario form {
    padding: 0 80px;
  }

  /** MODAL **/
  .dialog-form#dialog-steps h4,
.dialog-form#dialog-steps p {
    font-size: 20px;
  }
  .dialog-form#dialog-steps form fieldset:nth-child(2) {
    padding: 97px 70px 63px 78px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .video .absolute h1 {
    width: 140px;
  }

  .ocw .background {
    background-size: cover;
  }

  #encuentros .tabcontent .grid .item-grid .text .content {
    width: 560px;
  }
}

/*# sourceMappingURL=main.css.map */
